article {
    padding: 100px;
    margin: 100px;
    background-color: var(--ohdeerdark);
    color: white;
    float: center;
}

button {
    background-color: white;
    font-size: 20px;
    align-self: center;
    border-color: transparent;
}

input.right {
    float: right;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 0.4rem;
}

/* TODO arrow buttons left right to change day coming soon  */
button.round-button {
    border-radius: 100%;
    height: 1.87rem;
    width: 1.87rem;
    background-color: var(--ohdeeralmostdark);
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.5s;
    visibility: hidden;
}

button.round-button:hover {
    background-color: var(--ohdeerdark);
}

#left-button {
    float: right;
}

#right-button {
    float: left;
}

.workweek-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.workhours-input{
    width: 120px;
}

#settings-header {
    width: 100%;
    margin: 20px 10px 5px;
    text-align: left;
    font-weight: bolder;
    font-size: 20px;
}

.mockup-link {
    color: var(--linkblue);
    font-weight:lighter;
    font-size:small;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;   
    cursor: no-drop;
}

.mockup-link:hover {
    text-decoration: underline;
}

/* TODO button to change to dark mode coming soon */
#button-lightsoff {
    height: 60px;
    width: 60px;
    float: right;
    border-radius: 100%;
    color: var(--ohdeeralmostdark);
    font-size: 50px;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s;
    visibility: hidden;
}

#button-lightsoff:hover {
    color: var(--ohdeerdark);
}

li{
    list-style:none;
}

#save-button{
    width: 250px;
    height:40px;
    background-color:var(--ohdeeralmostdark);
    color: white;
    font-weight: bolder;
    border-color: transparent;    
    cursor: pointer;
    border-radius: 14px;
    transition: background-color 0.5s;
}

#save-button:hover{
    background-color: var(--ohdeerdark);
}

#datepicker{
    border: transparent;
    text-align: center;
    background-color: transparent;
    font-size:70%;
    font-family: sans-serif;
    font-weight: bolder;
    filter: invert(100%);
    cursor: pointer;
}

.events-of-month{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

p.events-of-month{
    margin: 30px 30px 10px;
}