:root {
    --ohdeerdark: #00474A;
    --ohdeeralmostdark: #06767A;
    --ohdeerlighter: #94B4B5;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

h4 {
    display: flex;
    align-self: center;
}

/* page layout */
.container {
    width: 100%;
    height: 100vh;
}

.toppanel {
    width: 100%;
    height: 50px;
    background-color: var(--ohdeerdark);
}

.sidepanel {
    width: 15%;
    height: 100vh;
    background-color: whitesmoke;
}

.main-content {
    width: 70%;
    height: 100vh;
    background-color: white;
}

.d-flex {
    display: flex;
}

/* page layout */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.wrapper {
    border: 2px solid var(--ohdeerdark);
    border-radius: 5px;
    background-color: var(--ohdeerlighter);
    text-align: center;
    font-size: 35px;
}

article {
    padding: 100px;
    margin: 100px;
    background-color: var(--ohdeerdark);
    color: white;
    float: center;
}

button {
    background-color: white;
    font-size: 20px;
    align-self: center;
    border-color: transparent;
}

input.right {
    float: right;
}

p,
label {
    font:
        1rem 'Fira Sans',
        sans-serif;
}

input {
    margin: 0.4rem;
}

button.round-button {
    border-radius: 100%;
    height: 1.87rem;
    width: 1.87rem;
    background-color: var(--ohdeeralmostdark);
    color: white;
    font-size: 25px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.5s;
}

button:hover {
    background-color: var(--ohdeerdark);
}

#left-button {
    float: right;
}

#right-button {
    float: left;
}

.workweek-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1r 1fr 1fr 1fr;
}

#settings-header {
    width: 100%;
    margin:20px 10px 5px;
    text-align: left;
    font-weight: bolder;
    font-size: 24px;
}